/* Reseta algumas configurações de estilo padrão */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Usando Poppins */
}

/* Estilo do corpo da página */
body {
    background-image: url(img/cyber-3400789_1920.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /* Esconde a barra de rolagem */
}

/* Estilo do corpo principal */
main {
    flex: 1; /* Permite que o main ocupe o espaço restante */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza texto */
    padding: 20px; /* Adiciona um pouco de padding */
}

nav {
    background-color: rgba(255, 255, 255, 0.2); /* Fundo semitransparente para destaque */
    padding: 20px; /* Diminuindo o padding para compactar */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
}

/* Estilo do rodapé */
footer {
    background-color: rgba(51, 51, 51, 0.9); /* Fundo escuro com transparência */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Faz o rodapé ficar na parte inferior */
}

footer p {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para o texto */
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}
